footer{
	background-color: #141414;
	height: 280px;

}

.footer__item{
	display: inline-table;
	font-size: 15px;
	margin-top: 7%;
}

.footer__item p{
	font-size: 15px;
	color: #bcbcbc;
}

.footer__item:nth-child(1){
	width: 40%
}

.footer__item:nth-child(2){
	width: 22%
}

.footer__item:nth-child(4){
	width: 16%
}

footer li {
	font-family: 'nunitosans', arial;
	list-style-type: none;
	margin-bottom: 7px;
}

.footer__item a {
	text-decoration: none;
	color: #bcbcbc;
}

.footer__item a:hover {
	color: #fff;
}

.footer-title{
	font-size: 18px;
	color: #fff;
}
