.nav-menu__fox  a {
    color: #ff922b;
}

.nav-menu__fox a:hover{
    color: #ff922b;
}

.about-home-fox{
	background: url(../image/fox2_3.jpg) no-repeat;
	background-size: 100%;
	margin-top: 0;
	height: 715px;
	width: 100%;
	text-align: left;
}

.about-home-fox-text {
    float: right;
    margin-top: 100px;
    margin-right: 40px;
}

.about-home-fox-text p {
    line-height: 28px;
	color: #fff;
}
.work__item img {
    width: 100%;
}

.work__item-fox{
	height: 0;
    width: 455px;
}

.work-fox{
	height: 300px;
}

header{
    background-color: #141414;
}

.nav-menu__item a{
	color: #fff;
}

.nav-menu__fox a {
    color: #ff922b;
}

.nav-menu__item a:hover{
    color: #ff922b;
    font-weight: 700;
}

.site-logo {
    margin-left: 75px;
    padding-top: 0px;
}

.site-logo img{
	width: 36%;
	transform: scale(-1, 1);
}

.footer__item a:hover {
    color: #fff;
    font-weight: 700;
}

.footer__item:nth-child(3) {
    width: 10%;
}

.footer__item:nth-child(4) {
    width: 10%;
}